@media (min-width: 1800px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1720px !important;
  }
}
.banner {
  background: #76d2d3;
  padding-bottom: 25px;
  padding-top: 25px;
}
.banner span {
  color: #000000;
  font-family: var(--font-quicksand);
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  height: 23px;
  font-weight: 400;
  /* width: 661px; */
}
.navContainer {
  background-color: #f5f5f5;
}
.navContainer a {
  font-family: var(--font-quicksand);
  /* color: #444444; */
  color: #888888;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}
.navrow {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}
.inputContainer {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  border: 1px solid #dcdcdc;
  border-radius: 50px;
  width: 879px;
  height: 64px;
  background-color: #f1f1f1;

  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3);
}
.inputSubContainer {
  font-size: 18px;
  font-family: var(--font-quicksand);
  text-transform: uppercase;
  color: #888;
  background-color: #f1f1f1;
  border: none;
  border-left: none;
  border-radius: no;
  width: 695px;
  height: 40px;
  margin-top: 10px;
  padding: 10px;
  box-shadow: none;
}
.searchContainer option select {
  font-family: var(--font-quicksand);
  color: #444444;
  font-size: 12px;
}
.theselect {
  width: 118px;
  height: 46px;
  border: none;
  font-family: var(--font-quicksand);
  color: #005e84;
  padding: 0 !important;
  font: 14px;
}
.signUp {
  background-color: #005e84;
  font-family: var(--font-quicksand);
  color: #444444;
  font-size: 15px;
}

.SubnavContainer a {
  font-family: var(--font-quicksand);
  color: #888888;
  font-size: 21px;
  padding-top: 1rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
  margin-right: 10px;
}
.SubnavContainer a:active {
  color: #444444 !important;
}
.imageText {
  font-family: var(--font-domine) !important;
  color: #ffffff !important;
  font-size: 48px !important;
  font-weight: 400;
  position: absolute;
  top: 18%;
  left: 11.5%;

  /* padding-top: 1rem;
  padding-bottom: 1rem; */
}
.CatergorySection {
  background-color: "#F1F1F1" !important;
  display: "flex";
  flex-direction: "row";
  align-items: "center";
  justify-content: "center";
}
.theImage {
  height: 100%;
  width: 835px !important;
}
select option {
  font-family: var(--font-quicksand);
  color: #444444;
  font-size: 15px;
}

/* ======== Navigation Css ========== */
.navlink {
  font-weight: 500;
  text-transform: uppercase;
}

.menu-toggle {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  border-top: 1px solid #ddd;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.menu-item {
  padding: 14px 16px;
  border-bottom: 1px solid #ddd;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  background-color: #f9f9f9;
}

.menu-item:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

.submenu .menu-item {
  padding-left: 32px;
  font-size: 0.95rem;
  background-color: #f1f1f1;
}

/* Custom css*/

@media (min-width: 1800px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1720px !important;
  }
}

.font-custom-category {
  font-size: 32px !important;
  font-weight: 400 !important;
}
h3 {
  font-weight: 300 !important;
  color: #666666 !important;
  font-size: 45px !important;
  font-family: var(--font-domine) !important;
}

.custom-categories h3 {
  text-align: left;
  margin-bottom: 40px !important;
}

.bottom-5 {
  bottom: 5% !important;
}

.bg-light {
  background-color: #fff !important;
}

.new-arrival-design p {
  font-size: 18px;
  color: #888888 !important;
  font-family: var(--font-quicksand);
  margin-bottom: 10px !important;
}

.new-arrival-design h6 {
  font-size: 22px !important;
  font-family: var(--font-quicksand);
  color: #444444 !important;
  margin-bottom: 12px !important;
}

.new-arrival-design {
  margin: 0px 10px !important;
}

.new-arrival-design button {
  border: 2px solid #d9d9d9 !important;
  padding: 10px !important;
  margin-top: 7px !important;
}

.new-arrival-design button {
  border: 2px solid #d9d9d9 !important;
  margin-top: 7px !important;
  padding: 12px !important;
  border-radius: 0 !important;
}
section.testimonials-section {
  padding: 80px !important;
}
section.testimonials-section h3 {
  text-align: left;
  margin-bottom: 30px !important;
}

.testimonials p {
  color: #888888 !important;
  font-size: 18px !important;
  font-weight: 400 !important;
  font-family: var(--font-quicksand) !important;
}

.bg-light.testimonials {
  background: #f1f1f1 !important;
  padding: 30px;
  border: none !important;
}

.slick-next {
  right: 0px !important;
}

.testimonials h5 {
  margin-top: 10px;
  font-family: var(--font-quicksand) !important;
  font-size: 26px !important;
  font-weight: 400;
  margin-bottom: 10px;
  color: #444444;
}

.quoteimg {
  background: #fff;
  border-radius: 100%;
  text-align: center;
  width: 110px !important;
  height: 110px !important;
  margin-left: auto;
  padding-top: 30px;
  margin-right: auto;
}

p.review-sec {
  min-height: 80px;
}
p.font-footer {
  font-size: 22px;
  font-weight: 300;
  color: #444444;
  font-family: var(--font-domine) !important;
}

h6.footer-link {
  font-size: 24px;
  font-weight: 400;
  color: #444444;
  font-family: var(--font-domine) !important;
}
.bestseller-account {
  margin: 0px 10px;
}
ul.list-unstyled li {
  font-size: 16px;
  color: #888888;
  line-height: 28px;
  font-family: var(--font-quicksand) !important;
}
section.feature-images {
  padding: 40px;
  background: #f1f1f1;
}

.search-bar-row {
  display: flex;
}
.mobi-design {
  margin-left: 20px;
}
section.custom-categories {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.container.footer-area img {
  width: 100% !important;
}

.footer-para {
  width: 100%;
  margin-left: auto;
  font-size: 13px;
  margin-right: auto;
}

.hide-desk {
  display: none;
}

.new-arrival-design button {
  border: 2px solid #d9d9d9 !important;
  border-radius: 0 !important;
  margin-top: 7px !important;
  padding: 12px !important;
}

.desktop-cart {
  display: block !important;
}
.mobile-cart {
  display: none !important;
}
.hide-desk-cart {
  display: flex;
}
.hide-mobi-cart {
  display: flex;
}

@media screen and (max-width: 758px) {
  .search-bar-row {
    display: block;
  }
  .mobile-cart {
    display: block !important;
  }

  button.signUp.btn {
    padding: 9px 15px !important;
    font-size: 12px !important;
    height: 100% !important;
    width: 100% !important;
  }
  .footer-para {
    width: 100%;
  }
  .icon-section {
    margin-left: 10px;
    padding-top: 3px;
  }
  .inputContainer {
    width: 95%;
    margin-left: 18px;
  }
  .mobile-header-bg {
    background: #4444441a;
    padding-top: 0px !important;
  }

  .form-select {
    background-color: #ffffff17 !important;
  }
  .mobi-design {
    margin-left: 5px;
    margin-right: 5px;
  }
  button.slick-arrow.slick-prev {
    display: none !important;
  }

  button.slick-arrow.slick-next {
    display: none !important;
  }

  .inputSubContainer {
    width: 80%;
  }

  section.testimonials-section {
    padding: 0px !important;
  }

  h3 {
    font-size: 26px !important;
  }

  section.testimonials-section h3 {
    margin-top: 30px;
  }

  .testimonials h5 {
    font-size: 20px !important;
  }

  p {
    font-size: 16px;
  }

  .font-custom-category {
    font-size: 17px !important;
    line-height: 1.2rem;
  }

  .imageText {
    font-size: 20px !important;
  }

  .SubnavContainer a {
    font-family: var(--font-quicksand);
    color: #888;
    text-transform: uppercase;
    margin-right: 0px;
    padding-top: 0;
    padding-bottom: 10px;
    font-size: 12px;
  }

  .navContainer a {
    font-size: 16px;
    margin-right: 10px !important;
    font-weight: 400;
    margin-left: 10px !important;
  }

  section.feature-images {
    background: #f1f1f1;
    padding: 15px;
  }
  .container.footer-area img {
    width: auto !important;
  }
  .mobi-logo {
    display: none;
  }

  .inputContainer {
    display: none;
  }

  .banner {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .banner span {
    font-size: 13px;
    line-height: 1.2rem !important;
  }

  .hide-desk {
    display: block;
  }
  .desktop-cart {
    display: none !important;
  }
  .container.footer-area img {
    width: auto !important;
  }
}

@media screen and (min-width: 300px) and (max-width: 370px) {
  .inputContainer {
    margin-left: 55px;
    width: 80% !important;
  }
  .mobile-cart svg {
    height: 20px !important;
    width: 15px !important;
  }

  .form-select {
    padding: 10px !important;
  }

  .container.footer-area img {
    width: auto !important;
  }
}

@media screen and (min-width: 560px) and (max-width: 758px) {
  .new-arrival-design h6 {
    font-size: 15px !important;
  }

  .bestseller-account h6 {
    height: 40px;
  }
  .desktop-cart {
    display: none !important;
  }
  .bg-light.testimonials {
    padding: 15px;
    min-height: 480px;
    background: #f1f1f1 !important;
    border: none !important;
  }
}

@media screen and (min-width: 759px) and (max-width: 1000px) {
  .inputSubContainer {
    width: 75%;
  }
  .hide-desk {
    display: block;
  }
  .desktop-cart {
    display: none !important;
  }
  .search-bar-row {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .mobile-header-bg {
    padding-top: 0px !important;
  }
  .icon-section {
    padding: 7px 5px;
  }
  .inputContainer {
    width: 100%;
  }

  h3 {
    font-size: 30px !important;
  }
  .mobi-logo {
    display: none;
  }

  .inputContainer {
    display: none;
  }
  .mobi-design {
    margin-top: 15px;
  }

  .SubnavContainer a {
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 2px;
    font-size: 17px;
  }

  .font-custom-category {
    font-size: 17px !important;
    line-height: 1.3rem;
  }

  .imageText {
    font-size: 25px !important;
  }

  section.testimonials-section {
    padding: 25px !important;
  }
  section.custom-categories {
    padding-top: 0px !important;
  }

  .desktop-cart {
    display: block !important;
  }
  .container.footer-area img {
    width: 100% !important;
  }
}

@media screen and (min-width: 990px) and (max-width: 999px) {
  .container.footer-area img {
    width: 100% !important;
  }

  .inputContainer {
    width: 45%;
    margin-left: 15px;
  }
  .new-arrival-design h6 {
    font-size: 20px !important;
  }
  .inputSubContainer {
    width: 55%;
  }
  .SubnavContainer a {
    font-family: var(--font-quicksand);
    color: #888;
    text-transform: uppercase;
    margin-right: 0px;
    padding-top: 8px;
    padding-bottom: 5px;
    font-size: 14px;
  }
  section.testimonials-section {
    padding: 45px !important;
  }
  .bg-light.testimonials {
    padding: 25px 8px;
  }
  .testimonials h5 {
    font-weight: 500;
    font-size: 19px !important;
  }
  .testimonials p {
    color: #888 !important;
    font-size: 15px !important;
  }
  .navContainer a {
    font-size: 15px;
  }
  .bestseller-account h6 {
    min-height: 45px;
  }

  .font-custom-category {
    font-size: 21px !important;
  }
  h3 {
    font-size: 30px !important;
  }
}
@media screen and (min-width: 1001px) and (max-width: 1200px) {
  .container.footer-area img {
    width: 100% !important;
  }

  .inputContainer {
    width: 45%;
    margin-left: 15px;
  }
  .new-arrival-design h6 {
    font-size: 20px !important;
  }
  .inputSubContainer {
    width: 55%;
  }
  .SubnavContainer a {
    font-family: var(--font-quicksand);
    color: #888;
    text-transform: uppercase;
    margin-right: 0px;
    padding-top: 8px;
    padding-bottom: 5px;
    font-size: 14px;
  }
  section.testimonials-section {
    padding: 45px !important;
  }
  .bg-light.testimonials {
    padding: 25px 8px;
  }
  .testimonials h5 {
    font-weight: 500;
    font-size: 19px !important;
  }
  .testimonials p {
    color: #888 !important;
    font-size: 15px !important;
  }
  .navContainer a {
    font-size: 15px;
  }
  .bestseller-account h6 {
    min-height: 45px;
  }

  .font-custom-category {
    font-size: 21px !important;
  }
  h3 {
    font-size: 30px !important;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1600px) {
  .inputContainer {
    width: 530px !important;
  }
  .container.footer-area img {
    width: auto !important;
  }
  .inputSubContainer {
    width: 450px !important;
  }

  .SubnavContainer a {
    margin-right: 10px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-size: 14px !important;
  }

  .navContainer a {
    font-size: 14px;
  }
  .font-custom-category {
    font-size: 20px !important;
  }

  h3 {
    font-size: 32px !important;
  }

  .testimonials h5 {
    margin-top: 6px;
    margin-bottom: 5px;
    font-size: 20px !important;
  }
  p.review-sec {
    min-height: 150px !important;
  }
  .container.footer-area img {
    width: auto !important;
  }
}
